body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  
}
.main {
 flex: 1;
}
.creative{
  color: rgb(3, 3, 129);
}
h1 {
  font-size: 5rem;
}
.tile-image{
  height: 200px;
  float: left;
  margin-right: 50px;

}
.card{
  width: 45%;
}

.left{
  float: left;
}

.right{
  float: right;
}
@media (max-width: 600px){
  .logo{
      width: 100px;
  }
  h1{
    font-size: 2rem;
    text-align: center;
  }
  .card{   
      width: 100%;   
      text-align: justify;
      display: inline-block;
      margin-bottom: 30px;

    }
    .crad img{
      display: inline; 
      height: 120px;
      width: 120px;
      object-fit: cover;
      
    }
    .card-title{
      font-size: 15px;
  
    }
    .card-text{
      display: block;
    }
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}


