/* Don't change the existing CSS. */

#outer-box {
  background-color: #f4cbe3;
  border-radius: 8px;
}

.box {
  background-color: #5b85cf;
  padding: 10px;
}
.inner-box {
  background-color: #fb4eb6;
  border-radius: 11px;
}
.inner-box-box {
  background-color: pink;
  border-radius: 11px;
}

p {
  color: #fcf58f;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}
