img {
  height: 200px;
  width: 200px;
}

.color-title {
  font-weight: normal;
}

#red {
  color: rgb(245, 14, 14);
}

#blue {
  color: rgb(27, 27, 201);
}

#orange {
  color: rgb(159, 113, 29);
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}
